__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/
.cursor/

/coverage.xml
/.coverage
.DS_Store

# Node
node_modules/
npm-debug.log*
